[paths]
source = src

[run]
source = src
parallel = true
context = ${{COVERAGE_CONTEXT}}

[report]
show_missing = true
precision = 2
# fail_under = 98
omit =
    *__init__.py
    */tests/*
    *__main__.py

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # tests import the package instead
    if __name__ == "__main__":

[html]
show_contexts=True
