[flake8]
max-line-length = 119
max-complexity = 16
# B = bugbear
# B9 = bugbear opinionated (incl line length)
select = C,E,F,W,B,B9
# E203: whitespace before ':' (black behaviour)
# E501: flake8 line length (covered by bugbear B950)
# W503: line break before binary operator (black behaviour)
# W504: line break after binary operator (black behaviour)
# C901: too complex is enabled from pylint
ignore = E203,E501,W503,W504,C901
per-file-ignores=
    __init__.py:F401
