build
bump2version
coverage
pbr
pre-commit
pytest ; python_version < '3.13'
pytest<8.3.5  ; python_version >= '3.13' # Latest pytest==8.3.5 and py3.13 raises "ResourceWarning: unclosed database in sqlite3.Connection" and "pytest.PytestUnraisableExceptionWarning"
pytest-cov
pytest-xdist
setuptools >=42
tox
twine
wheel
